*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

.DS_Store

# Berkshelf
.vagrant
/cookbooks

# Bundler
bin/config.sh
.bundle/*

.kitchen/
.kitchen.local.yml
bash_history
bashrc

ssh_key
*.bak

data_bags
homestar
chef
*tar.gz

*.lock