*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

.DS_Store

# Berkshelf
.vagrant
/cookbooks

# Bundler
bin/config.sh
.bundle/*

.kitchen/
.kitchen.local.yml
bash_history
bashrc

ssh_key
*.bak

data_bags
homestar
chef
*tar.gz

*.lock
Vagrantfile
bin/install_vagrant_plugins.sh
bin/install_brews.sh
bin/install_casks.sh
bin/install_gems.sh
.ruby-version
